/* IMPOSTAZIONI GENERALI */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background-image: url(/assets/img/sfondo.png);
  background-position: center;
}
/* HEADER */
header {
  width: 100%;

  background: rgb(0, 160, 198);
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  box-shadow: 5px 5px 5px 5px #444;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div {
  color: white;
  text-align: center;
}

header nav li a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: black; /* Cambia il colore del testo quando il mouse passa sopra il link */
}

.logo img {
  width: 50%;
  margin-bottom: 20px;
}
.logo p {
  margin-bottom: 20px;
}

nav li {
  margin: 5px 0 5px 0;
}
/* MAIN */
main {
  width: 100%;
  padding: 20px;
  background-color: #ffffff; /* Colore di sfondo per il body */
  box-shadow: 5px 5px 5px 5px #444;
  display: inline-block;
}
article {
  margin-bottom: 30px;
}

code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
  font-size: 80%;
}
article ol {
  list-style-type: decimal;
  margin-inline-start: 50px;
}

article ul {
  list-style-type: disc;
  margin-inline-start: 50px;
}

article p,
h1,
h2,
ul,
ol {
  margin-bottom: 15px;
}

article li {
  margin-block: 5px;
  line-height: 1.5;
}

#titolo {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}

.subtitle p {
  color: #a0a0a0;
  margin-bottom: 15px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

iframe {
  width: 100%;
  height: auto;
  border-radius: 20px;
  max-width: 100%;
  margin-top: 30px;
}
/* TABELLE */
table {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

table caption {
  font-style: italic;
  font-weight: 600;
}

thead tr {
  color: white;
  background-color: #3f6bca;
}

th {
  border: 1px solid #ddd;
  padding: 10px;
  white-space: nowrap; /* Impedisce il wrapping del testo */
  word-wrap: break-word; /* Spezza le parole lunghe se necessario */
  overflow: hidden; /* Nasconde il testo in eccesso */
}

tbody tr {
  background-color: white;
  border-bottom: 1px solid #ddd;
}
td {
  padding: 10px;
  white-space: nowrap; /* Impedisce il wrapping del testo */
  word-wrap: break-word; /* Spezza le parole lunghe se necessario */
  line-height: 1.6;
}
/* FORM */
.novità {
  margin: 30px 0 30px;
}
/* ELEMENTI NELL' ASIDE */
aside {
  margin: 30px 0 30px;
}
/* FOOTER */
footer {
  width: 100%;
  background: rgb(0, 160, 198);
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  box-shadow: 5px 5px 5px 5px #444;
  text-transform: uppercase;
  color: white;
  margin-top: 1.5em;
  padding: 1em 1.5em;
}
footer div {
  text-align: center;
  margin-bottom: 15px;
}
